<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="<%= search_items_path %>" method="get">
      <input class='input-box' name='keyword' placeholder='キーワードから探す'>
      <button class="search-button" type="submit">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li>
        <%= link_to 'カテゴリー', "#", class: "category-list", id: "category-toggle" %>
        <ul id="category-dropdown" class="dropdown" style="display: none;">
          <% Category.all.reject { |category| category.id == 0 }.each do |category| %>
            <li><%= link_to category.name, items_path(category_id: category.id) %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to 'ブランド', "#", class: "brand-list", id: "brand-toggle" %>
        <ul id="brand-dropdown" class="dropdown" style="display: none;">
          <% Brand.all.each do |brand| %>
            <li><%= link_to brand.name, items_path(brand_id: brand.id) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, root_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>